html, body {
  height: 100%;
}

#override-logo {
  font-family: 'Open Sans', sans-serif;
  font-size: 42px;
  color: #E27A3F;
  margin-top: -10px;
}

#override-logo:hover {
  color: #E27A3F;
}

#override-logo:hover span {
  color: #DF5A49;
}


input{
    padding: 5px;
    border: solid 1px #d5d5d5;
    outline: 0;
    font: 13px Verdana, Tahoma, sans-serif;
    width: 200px;
    background: #FFFFFF;
    }

input:hover,.preview-block input:focus{
    border-color: #b1b1b1;
    }

.form label {
    font: 14px Verdana, Tahoma, sans-serif;
    margin-left: 10px;
    color: #555555;
    width: 80px;
    display: inline-block;
    }

.submit input {
    width: auto;
    padding: 9px 20px;
    background: #EFC94C;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
    cursor: pointer;
    }

input[type=submit] {
  width: 120px;
  color: black;
  margin-top: 20px;
  background-color: #EFC94C;

}

.form-custom {
  padding-top: 20px;
  display: block;
}

.move-right {
  padding-left: 30px;
}

.img-back {
  background-image: url(BackgroundforJinexNew.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

ul li a {
  text-transform: uppercase;
  color: #45B29D;
}

h2 a {
  font-size: 20px;
  color: #334D5C;
}

.author {
  font-size: 12px;
}
